*{
    margin: 0 0 -4px 0;
    padding: 0;
    
}

.foto_card{
    width: 100%;
    height: 100vh;
    position: initial;
    object-fit: cover;
}

.text_on_foto{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.logo{
    position: absolute;
    top: 10%;
    left: 91%;
    transform: translate(-50%,-50%);
}
.log{
    width: 104px;
}
.filial{
    position: absolute;
    top: 31%;
    left: 23%;
    transform: translate(-50%,-50%);
    
}
.filial_test{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 22px #2454c9;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.popup_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content{
    text-align: center;
    background-color: #fff;
    color: black;
    max-width: 800px;
    padding: 30px;
    border-radius: 30px;
    position: relative;
}
.popup_close{
    position: absolute;
}
.testi{
    margin-top: 4px;
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.tst{
    display: flex;
    justify-content: space-around;
}
